.container
{
    background-color: rgb(214,170,200);
    display:flex;
    flex-flow:row wrap;
    justify-content: baseline;
    align-items:flex-end;

   
}

.child1
{
    background-color: white;
    text-align: center;
    border: 2px solid black;
    width:100px;   
    margin: 10px;
    color:black;
   
}
