body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

header
{
    position: sticky;
    top: 0;
}

.nav
{
    margin: 0px;
    background-color: lavender;
    display: flex;
    justify-content:space-between;
    padding: 10px;
      
    
}

.item
{
    margin-top: 10px;
}

.logo
{
    height: 30px;
    width: 90px;


}
a{
    text-decoration: none;
    color: black;
    padding: 10px;

}

a:hover {
    background-color:white; 
    color: black;

}

.grand-container
{
   
    display: flex;
    flex-flow: row wrap;
}

.parent-container1
{
    background-color: white;
     border-radius: 15px;
      box-shadow: 0px 1px 14px 4px rgb(204, 203, 203);
    height: 480px;
    width: 605px;
    margin : 20px 10px;
    display: flex;
    flex-flow: column wrap;
}

.container
{
    
    width:570px;
    margin: 10px;
    padding:5px;
    
}

img
{
    height: 200px;
    width:187px;
}

.parent-container2
{
     background-color: white;
     border-radius: 15px;
      box-shadow: 0px 1px 14px 4px rgb(204, 203, 203);
    height: 480px;
    width: 605px;
    margin : 20px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.container2
{
    
    width:272px;
    margin: 10px;
    padding:5px;
    gap: 10px;
    
}


.picture
{
    height:145px;
    width: 270px;
    padding-bottom: 5px;
}
li
{
    font-size: 20px;
    color: black;
}
.main-container2
{
   
    margin: 2px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding:10px;
}

.card
{
    width:282px;
    height: 10%;
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    padding:5px;
    box-shadow: 0px 1px 14px 4px rgb(204, 203, 203);
}

.image1 
{
    border-radius: 12px;
    height:200px;
    width:282px;
}

.heading
{
    text-align: center;
}

.detail
{
    text-align: center;
    
}




